.footersBG {
    background-color: #212529;
    color: #f8f9fa;
    padding-top: 2%;
    padding-bottom: 2%;
}
.lowerfooterBG {
    background-color: rgb(253, 126, 20);
    padding-top: 2%;
    padding-bottom: 2%;
}