.loginCusShadow {
    box-shadow: 0px 0px 10px 0px rgb(216, 216, 216) ;

}
.formStyle{
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(216, 216, 216) ;
    border: 1px solid #eee;
}
.formStyle input {
    width: 65%;
    height: 40px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 6px;
}
.CusButton {
    border: none;
    background-color: rgb(253, 126, 20);
    padding: 7px 25px;
    color: #f8f9fa;
    font-weight: 500;
    border-radius: 3px;
    text-decoration: none;
}
.CusButton:hover {
    background-color: #212529;
    color: #f8f9fa;
}